.hero-wrapper {
  position: fixed;
  width: 100%;
  z-index: 500;
  background: var(--bs-body-bg);
  overflow: visible;
}

.hero-title-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hero-title {
  overflow: hidden;
  display: inline-block;
  max-width: calc(100% - 160px - 1rem);
  white-space: nowrap;;
  text-overflow: ellipsis;
  margin: 1;
  font-size: 1.5rem;
  line-height: 1.5;
  min-width: 0;
  flex-shrink: 1;
  color: var(--bs-primary);
}

.hero-info-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hero-info-one {
  overflow: hidden;
  display: inline-block;
  max-width: calc(100% - 160px - 1rem);
  flex-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  flex-shrink: 1;
  font-size: 1rem;
}

.hero-info-two {
  overflow: hidden;
  display: inline-block;
  max-width: calc(100% - 160px - 1rem);
  flex-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  flex-shrink: 1;
  font-size: 0.9rem;
}

/* Mobile: slightly smaller font */
@media (max-width: 767.98px) {
  .hero-title {
    max-width: 220px;
    font-size: 1.2rem !important;
  }
  .hero-info-one {
    display: block;
    max-width: 220px;
    font-size: 0.9rem !important;
  }
  .hero-info-two {
    display: block;
    max-width: 220px;
    font-size: 0.8rem !important;
  }
}

.content-wrapper {
  max-width: 100%;
  position: relative;
  z-index: 100;
  margin-top: 170px;
  padding: 1rem;
}

.on-top {
  position: absolute;
  z-index: 3000;
}
