$theme-elevation-0: #000000;
$theme-elevation-1: #151515;
$theme-elevation-2: #2e2e2e;
$theme-elevation-3: #4c4c4c;
$theme-elevation-4: #7d7d7d;
$theme-text: #cccccc;
$theme-text-muted: #7d7d7d;

// Bootstrap overrides
$primary: #7d7d7d;
$danger: #ff4141;
$secondary: $theme-elevation-2;

$body-bg: $theme-elevation-0;
$body-color: $theme-text;

$grid-gutter-width: 2rem;

$headings-color: #ffffff;

$link-color: $theme-text;
$link-decoration: none;
$link-hover-decoration: underline;

$text-muted: $theme-text-muted;
$border-color: $theme-elevation-2;

:root {
  --theme-text-muted: #{$theme-text-muted};
  --theme-text: #{$theme-text};
  --theme-elevation-0: #{$theme-elevation-0};
  --theme-elevation-1: #{$theme-elevation-1};
  --theme-elevation-2: #{$theme-elevation-2};
  --theme-elevation-3: #{$theme-elevation-3};
  --theme-elevation-4: #{$theme-elevation-4};
  --primary: #{$primary};
  --secondary: #{$secondary};
}

.theme-primary {
  background-color: transparent !important;
  border: none !important;
  color: var(--bs-primary) !important;
}

.theme-primary:hover,
.theme-primary:focus {
  color: color-mix(in srgb, var(--bs-primary) 90%, black 10%) !important;
}

.theme-primary:active {
  color: color-mix(in srgb, var(--bs-primary) 80%, black 20%) !important;
}

.btn-theme-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: #fff !important;
}

.btn-theme-primary:hover,
.btn-theme-primary:focus {
  background-color: color-mix(in srgb, var(--bs-primary) 90%, black 10%) !important;
  border-color: color-mix(in srgb, var(--bs-primary) 90%, black 10%) !important;
  color: #fff !important;
}

.btn-theme-primary:active {
  background-color: color-mix(in srgb, var(--bs-primary) 80%, black 20%) !important;
  border-color: color-mix(in srgb, var(--bs-primary) 80%, black 20%) !important;
  color: #fff !important;
}

.btn-theme-primary:disabled {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-secondary) !important;
  opacity: 0.65;
  color: #fff !important;
}

// Button
.btn-primary {
  --bs-btn-color: #ffffff !important;
  --bs-btn-disabled-color: #ffffff !important;
  --bs-btn-active-color: #ffffff !important;
  --bs-btn-hover-color: #ffffff !important;
}

.btn-transparent {
  --bs-btn-color: $theme-text;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 0;

  --bs-btn-active-color: #ffffff;
  --bs-btn-active-border-color: transparent;

  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #ffffff1f;

  --bs-btn-focus-shadow-rgb: $theme-elevation-4;

  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}

$btn-close-color: $theme-text;

// Card
$card-bg: $theme-elevation-1;
$card-cap-bg: $theme-elevation-1;
$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;

// Modal
$modal-content-bg: $theme-elevation-1;
$modal-content-border-color: $theme-elevation-2;
.modal-backdrop {
  opacity: .5;
}

// Dropdown
$dropdown-bg: $theme-elevation-1;
$dropdown-link-color: $theme-text;
$dropdown-link-hover-bg: $theme-elevation-2;
$dropdown-link-hover-color: white;
$dropdown-border-color: $theme-elevation-2;
$dropdown-divider-bg: $theme-elevation-2;

.dropdown-toggle.dropdown-toggle-no-caret::before,
.dropdown-toggle.dropdown-toggle-no-caret::after {
  display: none !important;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-primary) !important;
}

// Popover
$popover-bg: $theme-elevation-1;
$popover-border-color: $theme-elevation-2;

// Tooltip
$tooltip-bg: $theme-elevation-1;
$tooltip-color: $theme-text;

.tooltip {
  position: absolute;
  z-index: 3000 !important;
}

// Form
$input-bg: $theme-elevation-2;
$input-disabled-bg: $theme-elevation-1;
$input-border-color: $theme-elevation-2;
$input-color: $theme-text;
$custom-range-track-height: 0.1rem;
$custom-range-thumb-bg: $theme-text;
$custom-range-track-bg: $theme-text-muted;
$form-switch-color-dark: #ffffff40;
$form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>");

// List group
$list-group-bg: rgba(#ffffff, 0);
$list-group-hover-bg: #ffffff1a;
$list-group-color: $theme-text;
$list-group-action-hover-color: $theme-text;
$list-group-border-color: $theme-elevation-2;
$list-group-action-active-bg: #ffffff1a;

// Offcanvas
$offcanvas-bg-color:$theme-elevation-1;

// Table
$table-color: $theme-text;
$table-bg: #ffffff00;
$table-hover-bg: #ffffff1a;

$table-cell-padding-y: 0.75rem;
$table-cell-padding-x: 0.75rem;
@import './table';

.elevated {
  background-color: $theme-elevation-1;
}

.breadcrumb {
  background: none !important;
  padding: 0 !important;
}

a.active {
  color: var(--bs-primary);
}

.btn-link:focus {
  box-shadow: none !important;
}

@import './nav';
@import './custom';
@import './scroll';
@import 'bootstrap/scss/bootstrap';
