.scroll {
  overflow-x: auto;
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}

/* WebKit browsers (Chrome, Safari, Edge) */
.scroll::-webkit-scrollbar {
  height: 20px; /* horizontal scrollbar thickness */
}

.scroll::-webkit-scrollbar-button {
  display: none; /* remove arrows */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Mobile: hide scrollbar */
@media (max-width: 768px) {
  .scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
