// Buttons
.btn-primary {
  --bs-btn-color: #ffffff !important;
  --bs-btn-disabled-color: #ffffff !important;
  --bs-btn-active-color: #ffffff !important;
  --bs-btn-hover-color: #ffffff !important;
}

.btn-transparent {
  --bs-btn-color: var(--theme-text);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 0;
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-border-color: transparent;
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-bg: transparent;
  --bs-btn-focus-shadow-rgb: $theme-elevation-4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}

$btn-close-color: var(--theme-text);
.btn-link:focus {
  box-shadow: none !important;
}

.btn:hover,
.btn:active {
  color: var(--bs-primary);
}

@media(max-width: 768px) {
  .btn:hover,
  .btn:active {
    color: var(--theme-text);
  }
}

.btn-theme-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: #fff !important;
}

.btn-theme-primary:hover,
.btn-theme-primary:focus {
  background-color: color-mix(in srgb, var(--bs-primary) 90%, black 10%) !important;
  border-color: color-mix(in srgb, var(--bs-primary) 90%, black 10%) !important;
  color: #fff !important;
}

.btn-theme-primary:active {
  background-color: color-mix(in srgb, var(--bs-primary) 80%, black 20%) !important;
  border-color: color-mix(in srgb, var(--bs-primary) 80%, black 20%) !important;
  color: #fff !important;
}

.btn-theme-primary:disabled {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-secondary) !important;
  opacity: 0.65;
  color: #fff !important;
}
